configstore/*
htop/*
My-config-files/*
neofetch/*
wslu/*
Thunar/*
swi-prolog/*
pulse/*
xfce4/*
dconf/*
enchant/*
gedit/*
jgit/*

nvim/lua/.luarc.json
nvim/plugin/packer_compiled.lua
nvim/lazy-lock.json
